<img src="img/dsci513_header2.png" width="600">

# Lab 2 Activities

In [2]:
%load_ext sql
%config SqlMagic.displaylimit = 50

In [3]:
import json
import urllib.parse

with open('data/credentials.json') as f:
    login = json.load(f)
    
username = login['user']
password = urllib.parse.quote(login['password'])
host = login['host']
port = login['port']

In [4]:
%sql postgresql://{username}:{password}@{host}/world_dsci513

'Connected: postgres@world_dsci513'

---

**Example:** What is the average life expectancy in North America? Round the result to 1 decimal digit.

---

In [5]:
%%sql

SELECT
    ROUND(AVG(lifeexpectancy)::NUMERIC, 1)
FROM
    country
WHERE
    continent = 'North America'
;

 * postgresql://postgres:***@localhost/world_dsci513
1 rows affected.

[(Decimal('73.0'),)]

---

**Example:** Write a query to return the number of all rows, as well as the number and percentage of null values in the column `indepyear` of the `country` table. Pick relevant column names for the resulting table.

---

In [6]:
%%sql

SELECT
    COUNT(*),
    COUNT(*) - COUNT(indepyear) AS n_nulls,
    (COUNT(*) - COUNT(indepyear)) * 100 / COUNT(*) || '%' AS null_percentage
FROM
    country
;

 * postgresql://postgres:***@localhost/world_dsci513
1 rows affected.

[(239, 47, '19%')]

---

**Example:** Write a query that returns country names and the average population of their cities, only for those countries which have more than 40 listed cities. Sort the results in descending order by the average population of cities.

---

In [7]:
%%sql

SELECT
    co.name, AVG(ci.population)::INT
FROM
    country co
JOIN
    city ci
ON
    co.code = ci.countrycode
GROUP BY
    co.code
HAVING
    COUNT(*) > 40
ORDER BY
    AVG(ci.population) DESC

 * postgresql://postgres:***@localhost/world_dsci513
25 rows affected.

[('South Korea', 557141),
 ('Pakistan', 534691),
 ('China', 484721),
 ('Turkey', 456888),
 ('Indonesia', 441008),
 ('Iran', 388552),
 ('Russian Federation', 365877),
 ('India', 361579),
 ('Ukraine', 352175),
 ('Argentina', 350817),
 ('Mexico', 345390),
 ('South Africa', 345372),
 ('Brazil', 343507),
 ('Taiwan', 323079),
 ('Japan', 314375),
 ('Venezuela', 298807),
 ('United States', 286955),
 ('Spain', 282529),
 ('Germany', 282209),
 ('United Kingdom', 276996),
 ('Nigeria', 271358),
 ('Poland', 265623),
 ('Italy', 260121),
 ('Canada', 258650),
 ('Philippines', 227462)]

---

**Example:** Write a query that returns names of countries whose capital city is not their most populated city.

---

In [9]:
%%sql

SELECT
    co.name
FROM
    country co
JOIN
    city ci1
ON
    co.code = ci1.countrycode
JOIN
    city ci2
ON
    co.capital = ci2.id
WHERE
    ci1.id <> ci2.id
GROUP BY
    co.name, ci2.id
HAVING
    ci2.population < MAX(ci1.population)

 * postgresql://postgres:***@localhost/world_dsci513
48 rows affected.

[('Philippines',),
 ('Malawi',),
 ('Kiribati',),
 ('Tanzania',),
 ('American Samoa',),
 ('Cameroon',),
 ('Guam',),
 ('San Marino',),
 ('Oman',),
 ('Brazil',),
 ('Senegal',),
 ('Belize',),
 ('China',),
 ('Pakistan',),
 ('Anguilla',),
 ('Monaco',),
 ('Hong Kong',),
 ('Bermuda',),
 ('South Africa',),
 ('Switzerland',),
 ('Vietnam',),
 ('French Polynesia',),
 ('Nigeria',),
 ('Ecuador',),
 ('Trinidad and Tobago',),
 ('Jamaica',),
 ('Benin',),
 ('Kuwait',),
 ('India',),
 ('Morocco',),
 ('Kazakstan',),
 ('Bolivia',),
 ('Belgium',),
 ('Liechtenstein',),
 ('Côte d\x92Ivoire',),
 ('Cocos (Keeling) Islands',),
 ('United States',),
 ('Australia',),
 ('New Zealand',),
 ('Sudan',),
 ('Canada',),
 ('Micronesia, Federated States of',),
 ('Malta',),
 ('Nauru',),
 ('Gambia',),
 ('Turkey',),
 ('United Arab Emirates',),
 ('Guadeloupe',)]