<img src="img/dsci513_header2.png" width="600">

# Lab 2 Activities

In [ ]:
%load_ext sql
%config SqlMagic.displaylimit = 50

In [ ]:
import json
import urllib.parse

with open('data/credentials.json') as f:
    login = json.load(f)
    
username = login['user']
password = urllib.parse.quote(login['password'])
host = login['host']
port = login['port']

In [ ]:
%sql postgresql://{username}:{password}@{host}/world_dsci513

---

**Example:** What is the average life expectancy in North America? Round the result to 1 decimal digit.

---

In [ ]:
%%sql

...

---

**Example:** Write a query to return the number of all rows, as well as the number and percentage of null values in the column `indepyear` of the `country` table. Pick relevant column names for the resulting table.

---

In [ ]:
%%sql

...

---

**Example:** Write a query that returns country names and the average population of cities in those countries which have more than 40 listed cities. Sort the results in descending order by the average population of cities.

---

In [ ]:
%%sql

...

---

**Example:** Write a query that returns names of countries whose capital city is not their most populated city.

---

In [ ]:
%%sql

...